*{
    margin:0px;
    padding:0px;
}

.home{
    height:100vh;
    width:100%;
    background-color:red;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
}